html {
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100%;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
}


button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  cursor: pointer;
  padding: 0;
  text-align: center;
}


///////////////////////////////////////////////////

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: dimgray;
  color: #FFFFFF;
}

////////////////////////////////////////////////////

.wrapper {
  margin: 50px auto;
  padding: 0 60px;
  width: 100%;
  max-width: 1080px;
  border-radius: 20px;
  border: 5px solid #FFF;
  background: #040429;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
}

////////////////////////////////////////////////////

.content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 14px;
    border-radius: 10px;
    border: 1px solid #F3F3F3;

    .icon-search {
      padding: 0 0 0 18px;
    }

    .input-search {
      border: 0;
      color: #000;
      font-size: 14px;
      font-weight: 400;
      padding: 15px 0 15px 10px;
      width: 200px;
      outline: none;

      &::placeholder {
        color: dimgray;
      }
    }
    .cross{
      width: 20px;
      height: 20px;
      margin-right: 10px;
      cursor: pointer;
      &:hover{
        box-shadow: 0px 0px 15px 3px rgba(34, 60, 80, 0.41);
      }
    }
  }
}


////////////////////////////////////////////////////


.sneakers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  //column-gap: 5px;
  padding: 20px 0;
}

